<div class="container" style="border:solid;padding: 20px; text-align: center;width: 30%; height:50%">
<h2>Edit profile</h2>
  <%= form_for current_user do |form| %>
    <%= render partial: '/users/form', object: form %>
  <% end %>
</div>

